* {
  margin: 0;
  padding: 0;
}

.carpa-main {
  text-align: left;
}
.carpa-main .carpa__title {
  text-align: center;
}

.carousel {
  width: 95%;
  margin: 15px;
}

.carpa__texts {
  justify-content: center;
  margin: 0 5px 0 10px;
}
.carpa__texts .texts_box-1 p {
  opacity: 85%;
}
.carpa__texts .third-p {
  white-space: pre-line;
}

.main {
  display: grid;
  grid-template-columns: 3fr;
}

.info {
  background-color: black;
  color: #FF9900;
  margin: 10px;
}
.info h5 {
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 15px;
}
.info p {
  text-align: center;
}

.card-icon {
  display: flex;
  align-items: center;
  justify-content: center;
}
.card-icon img {
  height: 50px;
  margin: 10px;
  box-shadow: 0 100px 80px rgba(0, 0, 0, 0.459);
}

div.info:nth-child(3) p {
  text-align: left;
}

div.info:nth-child(1) p {
  font-size: 30px;
}

.main-cards {
  display: flex;
  justify-content: center;
}
.main-cards .card-title {
  color: #FF9900;
}
.main-cards .card {
  margin: 20px 30px;
  background-color: #5c5c5c;
  box-shadow: 0 10px 80px rgba(0, 0, 0, 0.459);
}
.main-cards .card .card-link {
  color: #FF9900;
  text-decoration: none;
  border: 0.5px solid;
  border-radius: 4px;
  padding: 5px;
  text-transform: uppercase;
}
.main-cards .card figure {
  overflow: hidden;
}
.main-cards .card .precio {
  color: white;
  font-size: 20px;
}
.main-cards .card .comprar {
  padding: 15px 20px 15px 20px;
  border-top: #474747 1px solid;
}

.card-link:hover {
  box-shadow: 0 3px 10px rgba(255, 153, 0, 0.603);
}

.card:hover img {
  transform: scale(1.1);
}

footer {
  width: 100%;
  color: #FF9900;
}

#footer_content {
  background-color: black;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 3rem 3.5rem;
}

#footer_contacts img {
  margin-bottom: 0.75rem;
  height: 40px;
}

#footer_social_media {
  display: flex;
  gap: 2rem;
  margin-top: 1.5rem;
}
#footer_social_media .footer-links {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2.5rem;
  width: 2.5rem;
  color: #FF9900;
  border-radius: 50%;
  text-decoration: none;
}
#footer_social_media .footer-links:hover {
  opacity: 0.8;
}

#instagram {
  background: linear-gradient(#7f37c9, #ff2992, #ff9807);
}

#facebook {
  background: #4267b3;
}

#whatsapp {
  background: #25d366;
}

.footer-list {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  list-style: none;
}
.footer-list h3 {
  text-transform: uppercase;
}
.footer-list .footer-link {
  color: rgba(105, 105, 105, 0.822);
  text-decoration: none;
}
.footer-list .footer-link:hover {
  color: #FF9900;
}

#footer_copyright {
  display: flex;
  justify-content: center;
  background-color: black;
  font-size: 0.9rem;
  padding: 1.5rem;
  font-weight: 100;
}

@media screen and (max-width: 768px) {
  #footer_copyright {
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
  }
}
@media screen and (max-width: 426px) {
  #footer_copyright {
    grid-template-columns: repeat(1, 1fr);
    padding: 3rem 2rem;
  }
}
nav .navbar-brand {
  margin-right: 30px;
}
nav .nav-link {
  color: #FF9900;
  text-transform: uppercase;
  margin: 0 5px;
}

.linea {
  border: 0.5px solid #FF9900;
}

.btn {
  border-color: #FF9900;
  color: #FF9900;
}

.btn:hover {
  border-color: #FF9900;
  background-color: #FF9900;
  color: white;
}

* {
  letter-spacing: 1px;
}

body {
  margin: 0;
  padding: 0;
  background-color: #5c5c5c;
  min-height: 80vh;
  font-family: "Libre Franklin", sans-serif;
  font-family: "Open Sans", sans-serif;
  font-family: "Roboto", sans-serif;
}

/*# sourceMappingURL=style.css.map */
