

@use './layout/cards';
@use './pages/carpa';


// VARIABLES
$color-one:#FF9900;

body{
    margin: 0;
    padding: 0;
    background-color: #5c5c5c;

    //fonts
    font-family: 'Libre Franklin', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
}

nav{
    .nav-link{
        color: $color-one;
    }
}

.linea{
    border: 0.5px solid $color-one;
}

