@use './imports';

// VARIABLES
$color-one:#FF9900;

*{
letter-spacing: 1px;
}

body{
    margin: 0;
    padding: 0;
    background-color: #5c5c5c;
    min-height: 80vh;

    //fonts
    font-family: 'Libre Franklin', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
}


