// VARIABLES
$color-one:#FF9900;

*{
    margin: 0;
    padding: 0;
}

.carpa-main{
    text-align: left;
    .carpa__title{
        text-align: center;
    }
}
.carousel{
    width: 95%;
    margin: 15px;
}

.carpa__texts{
    justify-content: center;
    margin: 0 5px 0 10px;
    .texts_box-1{
    p{
        opacity: 85%;   
    }
    }
    .third-p{
    white-space: pre-line;
    }
}

